<p id="notice"><%= notice %></p>

<h1>Bandos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandos.each do |bando| %>
      <tr>
        <td><%= bando.title %></td>
        <td><%= bando.description %></td>
        <td><%= bando.user_id %></td>
        <td><%= link_to 'Show', bando %></td>
        <td><%= link_to 'Edit', edit_bando_path(bando) %></td>
        <td><%= link_to 'Destroy', bando, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bando', new_bando_path %>
